<div class="container">
   <div class="row">
      <form id="logIn" action="" method="post" autocomplete="off">
         <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
            <div class="login-logo-holder"><img src="{{filerev '/img/tonic.png'}}" class="login-logo"></div>
            <div class="panel-default-outline panel panel-default">
               <div class="panel-body">
                  <div class="form-group">
                     <label>Email</label>
                     <input type="email" name="email" placeholder="Enter email address" class="form-control">
                  </div>
                  <div class="form-group">
                     <label>Password</label>
                     <input type="password" name="password" placeholder="Enter password" class="form-control">
                  </div>
                  <div class="form-group">
                     <button type="submot" class="btn btn-primary btn-block">Login</button>
                  </div>
                  <div class="form-group"><a href="/reset" class="btn btn-link btn-block">Forgot password?</a></div>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>