<div class="container-fluid">
   <div class="row">
      <div class="">
         <div class="container-fluid">
            <div class="row">
               <form>
                  <div class="">
                     <div class="form-group">
                        <div class="col-md-6 col-sm-12">
                           <div class="telInput"><input type="search" id="msisdn" name="msisdn" class="lg font-sm font-bld form-control" placeholder="Enter MSISDN" value=""></div>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
<br/>
<div class="container-fluid">
   <div class="row">
      <div class="col-md-6">
         <div class="panel panel-default">
            <div class="panel-body">
               <form>
                  <h3>Reason to Call</h3>
                  <img id="loader" src="{{filerev 'img/DoubleRing.gif'}}" class="none" alt="">
                  <div id="dynamic">
                     <div class="form-group">
                        <label class="control-label">Type</label>
                        <select id="type" name="type" class="form-control">
                           <option value="">Select Type</option>
                           {{#each types}}
                              <option value="{{id}}" data-next="category" id="{{id}}">{{name}}</option>
                           {{/each}}
                        </select>
                     </div>
                     <div id="subCats">
                        <div class="form-group">
                           <label class="control-label">Category</label>
                           <select id="category" name="category" class="form-control" disabled>
                              <option value="">Select Category</option>
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label">Reason</label>
                     <select id="subcategory" name="subcategory" class="form-control" disabled>
                        <option value="">Select Reason</option>
                     </select>
                  </div>
                  <div id="OtherText" class="hide">
                     <div class="form-group"><label class="control-label">Specify Reason</label><input type="text" class="form-control"></div>
                  </div>
                  <div class="form-group">
                     <label class="control-label">Status</label>
                     <select id="status" class="form-control">
                        <option value="true">Open</option>
                        <option value="false">Close</option>
                     </select>
                  </div>
                  <div class="form-group"><a href="#" type="submit" class="btn btn-success" role="button">Create ticket</a></div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>