/* label styles */
label {
  font-family: QS_rg;
}
.label-primary {
  background: #407ec9;
  color: #fff;
  padding: 5px;
}
.label-success {
  background: #00b550;
  color: #fff;
  padding: 5px;
}
.label-warning {
  background: #fed100;
  color: #222;
  padding: 5px;
}